<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mecca Young</title>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Asul"
      ,rel="stylesheet"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    
    <p class="instruction">Click or use arrow keys to navigate</p>
    <img class="logo" src="default.png">
    <div class="all">
      <section class="active">
        <article>
          <h1>Welcome everyone!</h1>
          <p>
            My name is Mecca Young. To the kids whose parents are making them read this: I built this app to help you help us. To the parents reading this: I built this app to say I got you! This is a perfect opportunity for kids to learn the value of a dollar, and a great opportunity for parents to trust their kids with the cash they've earned. 
          </p>
          <p>
            This is how it works: parents upload a chore list every week with a price tag on each item. As the kids cross out the chore, they earn money. The interesting part is seeing what they choose to do with it: cash out or save it <span class="italic">right here </span>in our app...
          </p>
        </article>
      </section>
      <section>
        <article>
          <p>
            <abbr title="For Parents"> For Parents </abbr>
          </p>
          <p>
            As parents, we want the best for our children. This doesn’t
            necessarily mean we want them to have the best clothes or the latest
            gadgets, it means we want them to be <span class="italic">safe</span> and <span class="italic">secure</span>. And we want to
            lay a foundation that they can build upon to do well in life. But
            unfortunately, we live in a world revolved around money. So even if
            we’re not teaching our kids, they will learn lessons about money one
            way or another.
          </p>
          <p>So if you want to play a key role in shaping your children’s feelings, thinking and values about money, <a href="/signup">sign up now!</p></a>
          <p>
           Already have an account? <a href="/login">Sign in!</a>
          </p>
        </article>
      </section>
      <section>
        <article>
          <p>
            <abbr title="For Kids">For Kids </abbr>
          </p>
          <p>
            Ready to make some extra cash? Helping your parent never was easier, nor was it as rewarding as it is now!
          </p>
          <p>As you start to receive funds from the chores you get done, you'll be able to cash out immediately, <span class="italic">or</span> save your money in the app.</p>
          <p>It's your money, earned from your hard work. </p>
          <p>
            <a href="/signup">Sign up for an account today!</a>
          </p>
          <p>
            Already have an account? <a href="/login">Log in!</a>
          </p>
        </article>
      </section>
    </div>
    <button class="button">Again</button>
    <script src="script.js"></script>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mecca Young</title>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Asul"
      ,rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <p class="instruction">Click or use arrow keys to navigate</p>
    <div class="all">
      <section class="active">
        <article>
          <h1>Welcome everyone!</h1>
          <p>
            My name is Mecca Young. To the kids whose parents are making them read this: I built this app to help you help us. To the parents reading this: I built this app to say I got you! This is a perfect opportunity for kids to learn the value of a dollar, and a great opportunity for parents to trust their kids with the cash they've earned. 
          </p>
          <p>
            This is how it works: parents upload a chore list every week with a price tag on each item. As the kids cross out the chore, they earn money. The interesting part is seeing what they choose to do with it: cash out or save it <span class="italic">right here </span>in our app...
          </p>
        </article>
      </section>
      <section>
        <article>
          <p>
            <abbr title="For Parents"> For Parents </abbr>
          </p>
          <p>
            As parents, we want the best for our children. This doesn’t
            necessarily mean we want them to have the best clothes or the latest
            gadgets, it means we want them to be <span class="italic">safe</span> and <span class="italic">secure</span>. And we want to
            lay a foundation that they can build upon to do well in life. But
            unfortunately, we live in a world revolved around money. So even if
            we’re not teaching our kids, they will learn lessons about money one
            way or another.
          </p>
          <p>So if you want to play a key role in shaping your children’s feelings, thinking and values about money, <a href="/signup">sign up now!</p></a>
          <p>
           Already have an account? <a href="/login">Sign in!</a>
          </p>
        </article>
      </section>
      <section>
        <article>
          <p>
            <abbr title="For Kids">For Kids </abbr>
          </p>
          <p>
            Ready to make some extra cash? Helping your parent never was easier, nor was it as rewarding as it is now!
          </p>
          <p>As you start to receive funds from the chores you get done, you'll be able to cash out immediately, <span class="italic">or</span> save your money in the app.</p>
          <p>It's your money, earned from your hard work. </p>
          <p>
            <a href="/signup">Sign up for an account today!</a>
          </p>
          <p>
            Already have an account? <a href="/login">Log in!</a>
          </p>
        </article>
      </section>
    </div>
    <button class="button">Again</button>
    <script src="index.js"></script>
  </body>
</html>
